work/*.exe
work/*.o
work/*.lo
work/*.log
work/*.pyc
work/*.patch
work/.deps
work/.libs
work/.memdump
work/COPYING
work/CVE-*
work/INSTALL
work/Makefile
work/Makefile.in
work/aclocal.m4
work/autom4te.cache
work/bissect*
work/compile
work/config.guess
work/config.h
work/config.h.in
work/work/config.h.in~
work/config.log
work/config.status
work/config.sub
work/configure
work/configure~
work/dba100000.xml
work/depcomp
work/doc/Makefile
work/doc/Makefile.in
work/doc/devhelp/Makefile
work/doc/devhelp/Makefile.in
work/doc/examples/.deps
work/doc/examples/Makefile
work/doc/examples/Makefile.in
work/doc/examples/io1
work/doc/examples/io2
work/doc/examples/parse1
work/doc/examples/parse2
work/doc/examples/parse3
work/doc/examples/parse4
work/doc/examples/reader1
work/doc/examples/reader2
work/doc/examples/reader3
work/doc/examples/reader4
work/doc/examples/testWriter
work/doc/examples/tree1
work/doc/examples/tree2
work/doc/examples/xpath1
work/doc/examples/xpath2
work/example/.deps
work/example/Makefile
work/example/Makefile.in
work/example/gjobread
work/include/Makefile
work/include/Makefile.in
work/include/libxml/Makefile
work/include/libxml/Makefile.in
work/include/libxml/xmlversion.h
work/install-sh
work/libtool
work/libxml-2.0-uninstalled.pc
work/libxml-2.0.pc
work/libxml2-config.cmake
work/libxml2.la
work/list
work/ltmain.sh
work/log
work/missing
work/missing.lst
work/m4/libtool.m4
work/m4/lt*.m4
work/py-compile
work/python/.deps
work/python/.libs
work/python/Makefile
work/python/Makefile.in
work/python/gen_prog
work/python/libxml2-export.c
work/python/libxml2-py.c
work/python/libxml2-py.h
work/python/libxml2.py
work/python/libxml2class.py
work/python/libxml2class.txt
work/python/libxml2mod.la
work/python/setup.py
work/python/tests/Makefile
work/python/tests/Makefile.in
work/python/tests/tmp.xml
work/runsuite
work/runtest
work/runxmlconf
work/runxmlconf.log
work/stamp-h1
work/tags
work/test.out
work/testModule
work/testThreads
work/testapi
work/testapi.c.new
work/testchar
work/testdict
work/testdso.la
work/testlimits
work/testrecurse
work/tmp
work/tst.c
work/tst
work/xml2-config
work/xmlcatalog
work/xmlconf
work/xmllint
work/xstc/*-test.py
work/xstc/Makefile
work/xstc/Makefile.in
work/xstc/Tests
work/xstc/xsts-*.tar.gz